body {
    font-family: sans-serif;
    font-size: 14px;
}

.mainpage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainpage-container-id > * {
    margin: 5px;
}